.navBar{
    position: sticky;
	top: 0px;
	z-index: 3;

	display: flex;
	align-items: center;
	height: 60px;
    border-bottom: 1px solid var(--bd-orange);
    background-color: rgba(0, 0, 0, 0.1);

	background: linear-gradient(to left, rgba(255, 243, 240, 0.85), rgba(255, 255, 240, 0.85), rgba(255, 255, 240, 0.85), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
}

.webName {
  flex: 1;
  position: relative;
}

.searchbar {
  flex: 2;
  position: relative;
  justify-content: center;
}

.dropdownProfile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.profile {
  position: absolute;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f2f2f2;
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown li {
  padding: 10px;
}

.dropdown li a {
  text-decoration: none;
  color: #333;
}

.dropdown li a:hover {
  color: #000;
}

.dropdownSearch {
  position: relative;
  top: 100%;
  width: 50%;
  right: 0;
  background-color: #f2f2f2;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  z-index: 1; /* Add a higher z-index to ensure it appears above other elements */
}

input[type="text"] {
  position: relative; /* Change position to relative */
  display: inline;
  z-index: 2; /* Add a higher z-index to ensure it appears above the dropdown */
  width: 100%;
}
