<!DOCTYPE html>
<html>
<head>
  <title>Availability | Lab Reservation System</title>
  <link rel="stylesheet" type="text/css" href="CSS/nav.css">
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div class="app">
    <nav class = "navBar">
      <div class="webName">
        <span class="title"><a href="index.html">Laboratory Reservation</a></span>
      </div>
      <div class="searchbar">
        <input type="text" placeholder="Search" v-model="searchQuery" class="bar">
        <div v-bind:class ="myClass">
          <div class ="hatdog">
            <ul v-if="isDate == false" v-for="x, index in holdProfile" class="dropdownSearch">
              <li class="drop"><a :href= "holdURL[index]">{{x}}</a></li>
            </ul>
            <ul v-if="isDate == true" v-for="y, index in holdDate" class="dropdownSearch">
              <li class="drop"><a :href= "holdURL[index]">{{y}}</a></li>
            </ul>
          </div> 
        </div> 
      </div>
      <div class="dropdownProfile">
        <div class="profileUser">
          <button class="profile-button" @click="toggleDropdown">{{loggedInUser}}</button>
        <ul v-if="isOpen" class="dropdown">
          <li><a href="availability.html">Lab Availability</a></li>
          <li><a href="reserve.html">Reserve</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li @click="logOut">Logout</li>
        </ul>
        </div>
        
      </div>
    
    </nav>

    <h1>Lab Slot Availability</h1>

    <button v-for="day in dates" :key="day" @click="selectedDate = day">{{ day }}</button>

    <div v-for="lab in labs" :key="lab">
      <h2>{{ lab }}</h2>
      <p>Available seats: {{ availableSeats(lab) }}</p>
      <button @click="reserveLab(lab)">Make a Reservation for {{ lab }}</button>
    </div>
  </div>
  <script src="JS/availability.js"></script>
</body>
</html>
