<!DOCTYPE html>
<html>
<head>
  <title>Lab Reservation System</title>
  <link rel="stylesheet" type="text/css" href="CSS/nav.css">
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id = "app">
    <nav class = "navBar">
        <div class="webName">
          <span class="title"><a href="index.html">Laboratory Reservation</a></span>
        </div>
        <div class="searchbar">
          <input type="text" placeholder="Search" v-model="searchQuery" class="bar">
          <div v-bind:class ="myClass">
            <div class ="hatdog">
              <ul v-if="isDate == false" v-for="x, index in holdProfile" class="dropdownSearch">
                <li class="drop"><a :href= "holdURL[index]">{{x}}</a></li>
              </ul>
              <ul v-if="isDate == true" v-for="y, index in holdDate" class="dropdownSearch">
                <li class="drop"><a :href= "holdURL[index]">{{y}}</a></li>
              </ul>
            </div> 
          </div> 
        </div>
        <div class="dropdownProfile">
          <div class="profileUser">
            <button class="profile-button" @click="toggleDropdown">{{user.username}}</button>
          <ul v-if="isOpen" class="dropdown">
            <li><a href="availability.html">Lab Availability</a></li>
            <li><a href="reserve.html">Reserve</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li @click="logOut">Logout</li>
          </ul>
          </div>
          
        </div>
      
    </nav>
  </div>
  <script src = "JS/index.js"></script>
  <header>
    <h1>Welcome to the Lab Reservation System</h1>
    <p>Find available labs, reserve slots, and manage your reservations</p>
  </header>
  
  <!-- Here you could include a preview of available slots, etc. -->
  
</body>
</html>