<!DOCTYPE html>
<html>
<head>
  <title>Login | Lab Reservation System</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm">
      <h1>Login</h1>

      <label for="username">Username:</label>
      <input id="username" v-model="username" required>

      <label for="password">Password:</label>
      <input id="password" v-model="password" type="password" required>

      <button type="submit">Login</button>
    </form>
    <p v-if="loginError" class="error">{{ loginError }}</p>

    <a href="register.html">Register</a>
  </div>

  <script src="log.js"></script>
</body>
</html>
