<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <h1>Login</h1>
      <form @submit.prevent="loginUser">
        <div>
          <label class ="em">Email:</label>
          <input type="email" v-model="email" required/>
        </div>
        <div>
          <label class ="pass">Password:</label>
          <input type="password" v-model="password" required/>
        </div>
        <button class="log" type="submit">Login</button>
      </form>
    </div>
    <form @submit.prevent="redirectRegis">
      <button class="sign"type="submit">Sign up</button>
    </form>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="script.js"></script>
</body>
</html>
